# Base de datos (Neon PostGIS)
DB_HOST=ep-xxx-yyy.us-west-2.aws.neon.tech
DB_PORT=5432
DB_NAME=neondb
DB_USER=neondb_owner
DB_PASSWORD=your_password_here

# Aplicación Flask
DATABASE_URI=postgresql://neondb_owner:your_password_here@ep-xxx-yyy.us-west-2.aws.neon.tech/neondb?sslmode=require
SECRET_KEY=your_secret_key_here
DASH_PORT=8050
